html, body {
    width: 100%; 
    height: 100vh;
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Compagnon-Italic';
    src: url('/Type/compagnon-master/fonts/webfonts/Compagnon-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Compagnon-Light';
    src: url('/Type/compagnon-master/fonts/webfonts/Compagnon-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Coconat-Regular';
    src: url('/Type/CLT-Coconat/desktop/Coconat-Regular.otf') format('woff2');
}

@font-face {
    font-family: 'VG5000';
    src: url('/Type/vg5000-master/fonts/webfonts/VG5000-Regular_web.woff2') format('woff2');
}

@font-face {
    font-family: 'Space-Grotesk';
    /* src: url('/Type/SpaceGrotesk-2.0.0/woff2/static/SpaceGrotesk-Medium.woff2'),
    url('/Type/SpaceGrotesk-2.0.0/woff2/static/SpaceGrotesk-Bold.woff2'), */
    src: url('/Type/SpaceGrotesk-2.0.0/woff2/static/SpaceGrotesk-Light.woff2');
}

p {
    font-family: 'Space-Grotesk', serif;
    font-variation-settings: 'wght' 100;
    font-size: 23px;
    line-height: 1.5em;
    margin-top: 0.2em;
}

hr {
    size: 0.5px;
}

h1 {
    font-family: 'Space-Grotesk', serif;
    font-variation-settings: 'wght' 100;
    font-size: 90px;
    color: black;
}

h2 {
    font-family: 'Compagnon-Italic';
    font-size: 25px;
    font-weight: 100;
    color: black;
}

h3 {
    font-family: 'Compagnon-Italic';
    font-size: 40px;
    font-weight: 100; 
    line-height: 1.5em;
    color: black;
}

a {
    color: white;
    text-decoration: underline 0.75px;
}

figcaption {
    text-align: center;
    font-family: 'Compagnon-Italic';
    font-size: 15px;
}

/* Navbar Section */
.navbar {
    background-color: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 80px;
    z-index: 1000;
}

.navbar a {
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    writing-mode: vertical-rl; 
    text-orientation: mixed;
    border: 0.75px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .navbar-text {
    font-family: 'Space-Grotesk', sans-serif;
    font-weight: 100;
    font-size: 25px;
}

  .navbar a:hover {
    background-color: white;
    color: #83a700;
    border: 0.75px solid #83a700;
}

.navbar-mobile {
    text-align: center;
}

.navbar-mobile a {
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
   padding-top: 10px;
   padding-bottom: 10px;
   border-top: 0.75px solid black;
}

.navbar-mobile a:last-child {
    border-bottom: 0.75px solid black;
  }

.navbar-text-mobile{
    font-family: 'Space-Grotesk', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

@media (min-width: 950px) {
    .navbar-mobile  {
    display: none;
}
}

@media (max-width: 950px) {
    .navbar  {
    display: none;
}
.navbar a {
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    writing-mode: sideways-lr; 
    text-orientation: upright;
    border: 0.75px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .navbar-text {
    font-family: 'Space-Grotesk', sans-serif;
    font-size: 15px;
  }
}

/* Header Section */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    align-items: center;
}

.header-image {
width: 60%;
height: auto;
}

.header-image img {
width: 100%;
height: auto;
}

.header-text {
    font-size: 40px;
    padding-right: 100px;
    color: #00b140;
}

.header-subline-div {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
}

.header-subline {
    font-family: 'Space-Grotesk', serif;
    font-variation-settings: 'wght' 100;  
    font-size: 30px; 
}

.header-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-subline-image {
width: 600px;
height: auto;
}

.header-subline-image img {
width: 100%;
height: auto;
}

@media (max-width: 950px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        justify-items: center;
    }
    
    .header-image {
    width: 60%;
    height: auto;
    }
    
    .header-image img {
    width: 100%;
    height: auto;
    }
    
    .header-text {
        font-size: 30px;
        padding-right: 20px;
        color: #00b140;
    }
    
    .header-subline-div {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 30px;
    }
    
    .header-subline {
        font-family: 'Space-Grotesk', serif;
        font-variation-settings: 'wght' 100;  
        font-size: 20px; 
    }
    
    .header-gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-right: 40px;
        margin-left: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
        justify-items: center;
    }
    
    .header-subline-image {
    width: 80%;
    height: auto;
    }
}

/* Body Section */
.first-paragraph-heading {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

.first-paragraph-heading-text {
    font-family: 'Compagnon-Italic';
    font-size: 40px;
    font-weight: 100;
    color: #00b140;
    text-align: center;
}

.second-paragraph {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 100px;
    margin-right: 120px;
    margin-top: 0.5em;
    margin-bottom: 20px;

}

.third-paragraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 140px;
    margin-bottom: 30px;
    align-content: center;
}

.third-paragraph-image {
    align-items: center;
    text-align: center; 
    padding-top: 120px;
}

.pink-symphony {
height: 500px;
width: auto;
}

.pink-symphony img {
height: 100%;
width: auto;
}

.fourth-paragraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 140px;
    margin-top: 20px;
    align-items: center;
}

.fourth-paragraph-poster {
    align-items: center;
    text-align: center;   
}

.fourth-paragraph-image {
    height: 600px;
    width: auto;
}

.fourth-paragraph-image img {
    height: 100%;
    width: auto;
}

.fifth-paragraph {
display: grid;
grid-template-columns: 1fr;
margin-left: 100px;
margin-right: 120px;
margin-top: 30px;
margin-bottom: 20px;
}

.fifth-paragraph-heading {
    font-family: 'Compagnon-Italic';
    font-size: 40px;
    font-weight: 100;
    color: #00b140;
    text-align: center;
}

@media (max-width: 950px) {
    .first-paragraph-heading {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
    }
    
    .first-paragraph-heading-text {
        font-family: 'Compagnon-Italic';
        font-size: 30px;
        font-weight: 100;
        color: #00b140;
        text-align: left;
    }
    
    .second-paragraph {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 0.5em;
        margin-bottom: 20px;
    
    }
    
    .third-paragraph {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 10px;
        align-content: center;
    }
    
    .third-paragraph-image {
        align-items: center;
        text-align: center; 
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .pink-symphony {
    height: 500px;
    width: auto;
    }
    
    .pink-symphony img {
    height: 100%;
    width: auto;
    }
    
    .fourth-paragraph {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
    }
    
    .fourth-paragraph-poster {
        align-items: center;
        text-align: center; 
        padding-top: 30px;  
    }
    
    .fourth-paragraph-image {
        height: 500px;
        width: auto;
    }
    
    .fourth-paragraph-image img {
        height: 100%;
        width: auto;
    }
    
    .fifth-paragraph {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    }
    
    .fifth-paragraph-heading {
        font-family: 'Compagnon-Italic';
        font-size: 30px;
        font-weight: 100;
        color: #00b140;
        text-align: left;
    }
}

/* End Section */
.end-credits {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #00b140;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.end-credits-heading {
    font-family: 'Compagnon-Italic';
    font-size: 40px;
    font-weight: 200; 
    line-height: 1.1em;
    color: white;
    margin-bottom: 0.2em;
    text-align: center;
}

.end-credits-text {
    font-family: 'Space-Grotesk', serif;
    font-variation-settings: 'wght' 100;
    font-size: 23px;
    line-height: 1.5em;
    margin-top: 0.2em;
    color: white;
}

@media (max-width: 950px) {
    .end-credits {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #00b140;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    
    .end-credits-heading {
        font-family: 'Compagnon-Italic';
        font-size: 30px;
        font-weight: 200; 
        line-height: 1.1em;
        color: white;
        margin-bottom: 0.2em;
        text-align: left;
    }
    
    .end-credits-text {
        font-family: 'Space-Grotesk', serif;
        font-variation-settings: 'wght' 100;
        font-size: 20px;
        line-height: 1.5em;
        margin-top: 0.2em;
        color: white;
    }
}