html, body {
    width: 100%; 
    height: 100vh;
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Compagnon-Italic';
    src: url('/Type/compagnon-master/fonts/webfonts/Compagnon-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Compagnon-Light';
    src: url('/Type/compagnon-master/fonts/webfonts/Compagnon-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Coconat-Regular';
    src: url('/Type/CLT-Coconat/desktop/Coconat-Regular.otf') format('woff2');
}

@font-face {
    font-family: 'VG5000';
    src: url('/Type/vg5000-master/fonts/webfonts/VG5000-Regular_web.woff2') format('woff2');
}

@font-face {
    font-family: 'Space-Grotesk';
    /* src: url('/Type/SpaceGrotesk-2.0.0/woff2/static/SpaceGrotesk-Medium.woff2'),
    url('/Type/SpaceGrotesk-2.0.0/woff2/static/SpaceGrotesk-Bold.woff2'), */
    src: url('/Type/SpaceGrotesk-2.0.0/woff2/static/SpaceGrotesk-Light.woff2');
}

p {
    font-family: 'Space-Grotesk', serif;
    font-variation-settings: 'wght' 100;
    font-size: 17px;
    line-height: 1.5em;
    margin-top: 0.2em;
}

hr {
    size: 0.5px;
}

h1 {
    font-family: 'Compagnon-Italic';
    font-size: 70px;
    font-weight: 100;
    color: white;
}

h2 {
    font-family: 'Compagnon-Italic';
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 0.4em;
    color: white;
}

h3 {
    font-family: 'Compagnon-Italic';
    font-size: 20px;
    font-weight: 100; 
    margin-top: 0.2em;
    color: white;
}

a {
    color: white;
    text-decoration: underline 0.75px;
}

/* Navbar Section */
.navbar {
    background-color: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 80px;
    z-index: 1000;
}

.navbar a {
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    writing-mode: vertical-rl; 
    text-orientation: mixed;
    border: 0.75px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .navbar-text {
    font-family: 'Space-Grotesk', sans-serif;
    font-weight: 100;
    font-size: 25px;
}

  .navbar a:hover {
    background-color: white;
    color: #83a700;
    border: 0.75px solid #83a700;
}

.navbar-mobile {
    text-align: center;
}

.navbar-mobile a {
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
   padding-top: 10px;
   padding-bottom: 10px;
   border-top: 0.75px solid black;
}

.navbar-mobile a:last-child {
    border-bottom: 0.75px solid black;
  }

.navbar-text-mobile{
    font-family: 'Space-Grotesk', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

@media (min-width: 950px) {
    .navbar-mobile  {
    display: none;
}
}

@media (max-width: 950px) {
    .navbar  {
    display: none;
}
.navbar a {
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    writing-mode: sideways-lr; 
    text-orientation: upright;
    border: 0.75px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .navbar-text {
    font-family: 'Space-Grotesk', sans-serif;
    font-size: 15px;
  }
}

/* Header Section */
.header-div {
    padding: 50px;
    padding-left: 100px;
    padding-right: 140px;
    padding-bottom: 60px;
    background-color: #3e53a5;
}

.header-text {
    font-family: 'Space-Grotesk', serif;
    font-variation-settings: 'wght' 100;
    font-size: 30px;
    line-height: 1.5em;
}


.poem-outline {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-items: center;
    border-top: 0.75px solid white;
    background-color: #3e53a5;
    color: white;
}

@media (max-width: 950px) {
    h1 {
        font-family: 'Compagnon-Italic';
        font-size: 50px;
        font-weight: 100;
    }
    
    h2 {
        font-family: 'Compagnon-Italic';
        font-size: 25px;
        font-weight: 100;
        margin-bottom: 0.4em;
    }
    
    h3 {
        font-family: 'Compagnon-Italic';
        font-size: 20px;
        font-weight: 100; 
        margin-top: 0.2em;
    }
    .header-div {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 60px;
    }
    
    .header-text {
        font-family: 'Space-Grotesk', serif;
        font-variation-settings: 'wght' 100;
        font-size: 20px;
        line-height: 1.5em;
    }
    
    .poem-outline {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
        justify-items: left;
        text-align: left;
        border-top: 0.75px solid white;
    }
}

